
@{
    ViewBag.Title = "Панель управления";
}
<div style="text-align: center">
    @Html.ActionLink("Врачи", "Doctors", "Admin", new { @class = "AdminLink" })
</div>

<br/>

<div style="text-align: center">
    @Html.ActionLink("Специальности", "Specialities", "Admin", new { @class = "AdminLink" })
</div>

